@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@100;200;400;600;800&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family :'Hanken Grotesk', Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.result-container {
  align-items: center;
  background: linear-gradient(180deg, hsl(252,100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: space-around;
  padding: 15px;
}

.result-container .title {
  font-weight: 900;
  color: hsla(221, 100%, 96%, .7);
}

.result-container .score {
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) ,hsla(241, 72%, 46%, 0));
}

.result-container .score p {
  color: hsla(221, 100%, 96%, 1);
  font-size: 50px;
  font-weight: 900;
}

.result-container .score span {
  color: hsla(221, 100%, 96%, .5);
}

.result-container .avis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.result-container .avis h3 {
  font-weight: 800;
  color:hsla(221, 100%, 96%, 1);
  font-size: 25px;
}

.result-container .avis p {
  font-weight: 700;
  color:hsla(221, 100%, 96%, .5);
}
/* base css chalenge */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.details-container {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px auto;
  padding: 15px;
  background: green;
  border-radius: 10px;
}

.block.danger {
  background: hsla(0, 100%, 67%, .2);
}

.block.danger .left-block {
  color: hsla(0, 100%, 67%, 1)
}


.block.warning {
  background: hsla(39, 100%, 56%, .2);
}

.block.warning .left-block {
  color: hsla(39, 100%, 56%, 1)
}

.block.success {
  background: hsla(166, 100%, 37%, .2);
}

.block.success .left-block {
  color: hsla(166, 100%, 37%, 1)
}

.block.primary {
  background: hsla(234, 85%, 45%, .2);
}

.block.primary .left-block {
  color: hsla(234, 85%, 45%, 1)
}

.block .left-block {
  display: flex;
}

.block .left-block img {
  margin-right: 10px;
}


button {
  width: 100%;
  padding: 15px 5px;
  border-radius: 999px;
  border: none;
  margin-top: 10px;
  color:hsla(221, 100%, 96%, 1);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  background: hsl(241, 81%, 54%);
}

button:hover {
  background: hsl(224, 30%, 27%);
}